.popup-form__input {
  padding: 0;
  padding-bottom: 13px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
}

.popup-form__input:first-of-type {
  margin-top: 0px;
}
