.user-profile__avatar {
  width: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 620px) {
  .user-profile__avatar {
    margin-bottom: 22px;
  }
}

@media (max-width: 320px) {
  .user-profile__avatar {
    margin: 0 auto;
    margin-bottom: 26px;
  }
}

