.user-profile_avatar-wrapper {
  position: relative;
  width: 120px;
  /* height: 120px; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-profile_avatar-wrapper:hover .user-profile__avatar_edit-icon {
  visibility: visible;
  opacity: 1;
}

.user-profile_avatar-wrapper:hover .user-profile__avatar {
  cursor: pointer;
  opacity: 0.3;
}

@media (max-width: 620px) {
  .user-profile_avatar-wrapper {
    margin-bottom: 22px;
  }
}

@media (max-width: 320px) {
  .user-profile_avatar-wrapper {
    margin: 0 auto;
    margin-bottom: 26px;
  }
}
