.cards-item__like-button {
  width: 23px;
  height: 19px;
  outline: none;
  transition: all, 0.6s linear;
  -webkit-transition: all, 0.6s linear;
  -moz-transition: all, 0.6s linear;
  -ms-transition: all, 0.6s linear;
  -o-transition: all, 0.6s linear;
}

.cards-item__like-button:hover {
  opacity: 0.5;
}

.cards-item__like-button:active {
  background-image: url('../../../images/like-icon-active.svg');
}

.cards-item__like-button_active {
  background-image: url('../../../images/like-icon-active.svg');
}
