.user-profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

@media (max-width: 620px) {
  .user-profile__avatar {
    /* margin-bottom: 22px; */
  }
}

@media (max-width: 320px) {
  .user-profile__avatar {
    margin: 0 auto;
    /* margin-bottom: 26px; */
  }
}

