.user-profile__add-button {
  width: 150px;
  padding: 23px;
  margin-left: auto;
  box-sizing: border-box;
  background-image: url('../../../images/add-icon.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 22px 22px;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.user-profile__add-button:hover {
  opacity: 0.6;
}


@media (max-width: 768px) {
  .user-profile__add-button {
    width: 120px;
    background-size: 20px 20px;
  }
}

@media (max-width: 620px) {
  .user-profile__add-button {
    margin-left: 0;
    width: 100%;
    max-width: 282px;
    background-size: 18px 18px;
  }
}

@media (max-width: 320px) {
  .user-profile__add-button {
    background-size: 16px 16px;
  }
}
