.user-profile__description {
  max-width: 340px;
  margin: 0;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .user-profile__description {
    font-size: 16px;
  }
}

@media (max-width: 620px) {
  .user-profile__description {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .user-profile__description {
    font-size: 14px;
    line-height: 1.21;
  }
}
