.user-profile__info {
  display: flex;
  align-items: baseline;
  -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
  justify-content: space-between;
  min-width: 200px;
  margin-bottom: 11px;
}

@media (max-width: 320px) {
  .user-profile__info {
    margin: 0 auto;
    margin-bottom: 8px;
    margin-left: 26px;
  }
}
