.content__user-profile {
  margin-top: 38px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

@media (max-width: 620px) {
  .content__user-profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}
