.cards-item__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 20px;
  outline: none;
  transition: all, 0.6s linear;
  -webkit-transition: all, 0.6s linear;
  -moz-transition: all, 0.6s linear;
  -ms-transition: all, 0.6s linear;
  -o-transition: all, 0.6s linear;
}

.cards-item__delete-button:hover {
  opacity: 0.6;
}
